<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sc.web.dao.NoticeDao">
  <select id="getViewList" resultType="com.sc.web.entity.NoticeView">
	select * from NoticeView
	<!-- <trim prefix="WHERE" prefixOverrides="AND | OR ">
		<if test="query != null and query != ''">
			${field} like '%${query}%'
	  	</if>
		and pub = #{pub}
	</trim> -->
	order by id desc, regdate desc 
	limit #{offset}, #{size}
  </select>
  <select id="getCount">
  	select count(id) count from Notice
	where ${field} like '%${query}%'
  </select>
  <select id="getView" resultType="com.sc.web.entity.NoticeView">
  	select * from Notice
	where id = #{id}
  </select>
  
  <select id="getNext" resultType="com.sc.web.entity.Notice">
	 select * from notice
	 where regdate &gt; (select regdate from notice where id = #{id})
	 order by id , regdate 
	 limit 1
 </select>
  <select id="getPrev" resultType="com.sc.web.entity.Notice">
	 select * from notice
	 where regdate &lt; (select regdate from notice where id = #{id})
	 order by id desc, regdate desc 
	 limit 1
 </select>
 <update id="update" parameterType="com.sc.web.entity.Notice">
 	update notice 
 	set 
 	title = #{title},
 	content = #{content},
 	pub = #{pub},
 	hit = #{hit}
 	where id = #{id}
 </update>
 <insert id="insert" parameterType="com.sc.web.entity.Notice">
 	insert into notice(title, content, memberId)
 	values (#{title}, #{content}, #{id})
 </insert>
 <delete id="delete">
 	delete from notice
 	where id = #{id}
 </delete>
 <delete id="deleteAll">
 	delete from notice
 	where id in
    <foreach item="id" index="index" collection="ids"
        open="(" separator="," close=")">
          #{id}
    </foreach>
 </delete>
 <update id="updatePubAll">
	update notice 
 	set 
 		pub = #{pub}
 	where id in
	<foreach item="id" index="index" collection="ids"
        open="(" separator="," close=")">
          #{id}
    </foreach>
  	<!-- update notice 
 	set 
 		pub = case id
 	<foreach item="id" collection="pubIds">
		when #{id} then 1 		
 	</foreach>
 	<foreach item="id" collection="closeIds">
		when #{id} then 1 		
 	</foreach>
 	end
 	where id in (
 	<foreach item="id" collection="pubIds">
		#{id} 		
 	</foreach>
 	,
 	<foreach item="id" collection="closeIds">
		#{id} 		
 	</foreach>
 	) -->
 </update>
</mapper>